 @charset "utf-8";
 
 /* ============================== */
/* Fix css layerswp */
/* ============================== */
 #wrapper-site, .wrapper-site { overflow: hidden; }
.catalog-list .product-item.span-12 {
  -webkit-transition: all .6s ease;
-moz-transition: all .6s ease;
-ms-transition: all .6s ease;
-o-transition: all .6s ease;
transition: all .6s ease;
}
/* ============================== */
/* Product Style Archive */
/* ============================== */

.archive .pagination { display: block; }
.archive-wpeasy-product {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}
.archive-wpeasy-product .woocom-project .woocom-list-content .woocommerce-product-details__short-description {
    margin-bottom: 25px;
}
.archive-wpeasy-product .product {
	transition: all .6s ease-in-out;
}
.catalog-grid .product:after, .catalog-grid .product:before {
    content: "";
    display: table;
    clear: both;
}
.catalog-list .accent-gradient .product .onsale ,
.catalog-grid .accent-gradient .product .onsale {
    background: #1ebbf0;
    background: -moz-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#1ebbf0),color-stop(100%,#39dfaa));
    background: -webkit-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
    background: -o-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
    background: -ms-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
    background: linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
}
.catalog-list .product .onsale ,
.catalog-grid .product .onsale {
    position: absolute;
    z-index: 01;
    top: 40px;
    left: 40px;
    min-height: 32px;
    min-width: 32px;
    padding: 7px;
    font-size: 13px;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.catalog-grid .product .onsale {
    top: 10px;
    left: 10px;
}
.catalog-list .woocom-project ,
.catalog-grid .woocom-project {
    position: relative;
}

.catalog-grid .woocom-list-content, .catalog-grid .woocom-rollover-content .price, .catalog-grid .woocom-rollover-content .star-rating {
    text-align: center;
}

.catalog-list h4.entry-title ,
.catalog-grid h4.entry-title {
    color: #333333;
    font: normal bold 16px / 26px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
}

.catalog-list .accent-gradient .entry-title a:hover ,
.catalog-grid .accent-gradient .entry-title a:hover {
    background: -webkit-gradient(linear,left top,right top,color-stop(32%,#1ebbf0),color-stop(100%,#39dfaa));
    background: -webkit-linear-gradient(left,#1ebbf0 32%,#39dfaa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.catalog-list .cart-btn-on-img .woo-buttons:hover a ,
.catalog-grid .cart-btn-on-img .woo-buttons:hover a {
    width: auto;
    max-width: 250px;
}

.catalog-list .product .entry-title a ,
.catalog-grid .product .entry-title a {
    display: inline-block;
}
.catalog-list .entry-title a:hover,
.catalog-grid .entry-title a:hover {
    color: #1ebbf0;
}
#productLoadMore {
	display: block;
	margin: auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

.catalog-grid .product .woo-buttons-on-img {
    position: relative;
    margin: 0 0 20px;
    text-align: center;
}
.catalog-list .wc-img-hover .woo-buttons-on-img,
.catalog-grid .wc-img-hover .woo-buttons-on-img {
    overflow: hidden;
}
.catalog-list .wc-img-hover .woocom-project img ,
.catalog-grid .wc-img-hover .woocom-project img {
    position: relative;
       -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 4s ease-out;
    transition: transform 4s ease-out;
}
.catalog-list .wc-img-hover .woo-buttons-on-img a {
	display: block;
	line-height: 0;
	overflow: hidden;
}
.catalog-list .wc-img-hover .woo-buttons-on-img a:hover img,
.catalog-grid .wc-img-hover .woo-buttons-on-img a:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: -webkit-transform 4s ease-out;
    transition: transform 4s ease-out;
}

.catalog-list .cart-btn-on-img .woo-buttons ,
.catalog-grid .cart-btn-on-img .woo-buttons {
    position: absolute;
    right: 10px;
    bottom: 40px;
    height: 38px;
    min-width: 38px;
    border-radius: 16px;
    z-index: 2;
    box-sizing: border-box;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.catalog-grid .cart-btn-on-img .woo-buttons {
    right: 10px;
    bottom: 10px;
}
.catalog-list .cart-btn-on-img .woo-buttons a ,
.catalog-grid .cart-btn-on-img .woo-buttons a {
    font: bold 12px / 14px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
    background-color: #1ebbf0;
    background: #1ebbf0;
    background: -moz-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#1ebbf0),color-stop(100%,#39dfaa));
    background: -webkit-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
    background: -o-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
    background: -ms-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
    background: linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
}
.catalog-list .cart-btn-on-img .woo-buttons a ,
.catalog-grid .cart-btn-on-img .woo-buttons a {
    display: block;
    float: right;
    height: 32px;
    max-width: 22px;
    padding: 0 32px 0 0;
    box-sizing: border-box;
    -webkit-transition: max-width .4s ease-in-out;
    transition: max-width .4s ease-in-out;
    border-radius: 16px;
    color: #fff;
}
.catalog-list .cart-btn-on-img .woo-buttons a .filter-popup ,
.catalog-grid .cart-btn-on-img .woo-buttons a .filter-popup {
    vertical-align: top;
    line-height: 32px;
    margin-left: 14px;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.catalog-list .cart-btn-on-img .woo-buttons:hover a .filter-popup ,
.catalog-grid .cart-btn-on-img .woo-buttons:hover a .filter-popup {
    opacity: 1;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
}
.catalog-list .woo-buttons-on-img .woo-buttons>a:after,
.catalog-grid .woo-buttons-on-img .woo-buttons>a:after {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' fill='white' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cpath d='M15.439,4.021L3.532,2.358L3.406,1.172c0,0-0.034-0.425-0.052-0.46C3.281,0.484,3.158,0.417,2.906,0.344L0.792,0.026C0.468-0.073,0.124,0.115,0.025,0.444c-0.097,0.328,0.052,0.755,0.381,0.853l1.688,0.25l1.239,10.865C3.372,12.712,3.63,13,3.945,13h9.89c0.341,0,0.516-0.312,0.516-0.654c0-0.336-0.175-0.646-0.516-0.646H4.547L4.387,10h9.485c0.708,0.021,0.771-0.517,0.963-1.062l0.958-3.396C16.064,4.688,16.177,4.126,15.439,4.021z'/%3E%3Ccircle cx='4.801' cy='14.699' r='1.25'/%3E%3Cpath d='M12.802,13.449c-0.69,0-1.252,0.559-1.252,1.25s0.562,1.251,1.252,1.251c0.694,0,1.248-0.56,1.248-1.251S13.496,13.449,12.802,13.449z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
}
.catalog-list .cart-btn-on-img .woo-buttons a:after ,
.catalog-grid .cart-btn-on-img .woo-buttons a:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    content: "";
    color: #fff;
}
.catalog-grid .wc-img-hover .woo-buttons-on-img a {
    display: block;
    line-height: 0;
    overflow: hidden;
    
}
.catalog-grid .product .price {
    font-size: 14px;
    line-height: 25px;
}


/* ============================== */
/* Catalog List Style */
/* ============================== */
.catalog-list {

}
.catalog-list .archive-wpeasy-product {}
.catalog-list .product-item.span-12 { 
	margin-top: 40px;
	background-color: #f7f7f7;
}
.catalog-list .product-item.span-12 .woocom-project {
    border-bottom: 1px solid rgba(31, 31, 31, 0.16);
}
.catalog-list .product-item.span-12 .woocom-project:last-child {
	border: none;
}
.catalog-list .product-item {}
.catalog-list .product-item:last-child { margin-bottom: 40px; }
.catalog-list .woocom-project {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: wrap;
}
.catalog-list .woocom-project .woo-buttons-on-img{
	position: relative;
    width: 30%;
	padding: 30px 0px 30px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
}
.catalog-list .woocom-project .woo-buttons-on-img > a{}
.catalog-list .woocom-project .woo-buttons-on-img img{}
.catalog-list .woocom-project .woo-buttons-on-img .woo-buttons{}
.catalog-list .woocom-project .woo-buttons-on-img .woo-buttons .add_to_cart_button{}
.catalog-list .woocom-project .woo-buttons-on-img .woo-buttons .filter-popup{}

.catalog-list .woocom-project .woocom-list-content{
    width: calc(100% - 30%);
	padding: 30px 30px 30px 30px;
}
.catalog-list .woocom-project .woocom-list-content .woocommerce-product-details__short-description p{
	font-size: 15px;
    line-height: 27px;
    word-spacing: normal;
    color: #85868c;
}
.catalog-list .woocom-project .woocom-list-content .entry-title{
	font: normal bold 24px / 34px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.catalog-list .woocom-project .woocom-list-content .entry-title a{
    -webkit-transition: color .35s;
    transition: color .35s;
    margin-bottom: 5px;
}
.catalog-list .woocom-project .woocom-list-content .price{
    display: inline-block;
    margin-bottom: 5px;
}
.catalog-list .woocom-project .woocom-list-content .price .amount{}
.catalog-list .product-item.span-12 { position: relative; }
/* Responsive List Style */
@media (min-width:1019px) and (max-width: 1199px) {
  .catalog-list .woocom-project .woo-buttons-on-img {
    width: 40%;
  }
  .catalog-list .woocom-project .woocom-list-content {
    width: calc(100% - 40%);
  }
  .catalog-list .cart-btn-on-img .woo-buttons a, .catalog-grid .cart-btn-on-img .woo-buttons a {
      width: auto;
      max-width: 250px;
  }
  .catalog-list .cart-btn-on-img .woo-buttons a .filter-popup, .catalog-grid .cart-btn-on-img .woo-buttons a .filter-popup {
    opacity: 1;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
  }
  
}
@media (min-width:768px) and (max-width: 1018px) {
  .catalog-list .woocom-project .woo-buttons-on-img {
    width: 40%;
  }
  .catalog-list .woocom-project .woocom-list-content {
    width: calc(100% - 40%);
  }
  .catalog-list .woocom-project .woocom-list-content .entry-title {
    font-size: 22px;
    line-height: 30px;
  }
  .catalog-list .cart-btn-on-img .woo-buttons a {
      width: auto;
      max-width: 250px;
  }
  .catalog-list .cart-btn-on-img .woo-buttons a .filter-popup {
    opacity: 1;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
  }
  
}

@media (min-width:0px) and (max-width: 767px) {
  .catalog-list .product-item.span-12 {
    position: relative;
  }
  .catalog-list .woocom-project {
      flex-direction: column;
  }
  .catalog-list .woocom-project .woo-buttons-on-img,
  .catalog-list .woocom-project .woocom-list-content {
    width: 100%;
  }
  .catalog-list .woocom-project .woo-buttons-on-img {
    padding: 0;
  }
  .catalog-list .woocom-project .woocom-list-content {
      padding: 30px 15px 30px 15px;
  }
  .catalog-list .cart-btn-on-img .woo-buttons a {
      width: auto;
      max-width: 250px;
  }
  .catalog-list .cart-btn-on-img .woo-buttons a .filter-popup {
    opacity: 1;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
  }

  .catalog-list .cart-btn-on-img .woo-buttons, .catalog-grid .cart-btn-on-img .woo-buttons {
    bottom: 10px;
  }
  .catalog-list .product .onsale, .catalog-grid .product .onsale {
    top: 10px;
    left: 10px;
  }
  .catalog-list .woocom-project .woocom-list-content .entry-title {
    font-size: 20px;
    line-height: 28px;
  }
}
/* ============================== */
/* Single Product Style */
/* ============================== */
.title-container {
    
}
.wpeasy-single-product {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
  color: #000;
  padding: 15px;
}
.wpeasy-single-product .wpeasy-product-image{}
.wpeasy-single-product .wpeasy-product-image .thumbnail{
    margin: 0;
    text-align: center;
}
.wpeasy-single-product .wpeasy-product-image .thumbnail img{}

.wpeasy-single-product .wpeasy-product-content {}
.wpeasy-single-product .wpeasy-product-content div {
  margin-bottom: 4px;
}
.wpeasy-single-product .wpeasy-product-content .product-parent-category{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.wpeasy-single-product .wpeasy-product-content .product-name{}
.wpeasy-single-product .wpeasy-product-content .product-price{
    color: red;
    font-weight: bold;
}
.wpeasy-single-product .wpeasy-product-content .product-price > strong{
  color: #000;
}
.wpeasy-single-product .wpeasy-product-content .short-description{
    font-weight: bold;
    text-align: justify;
    margin-top: 5px;
}

.wpeasy-product-content-tab {}

.wpeasy-product-content-tab {
    display: block;
    overflow: hidden;
    padding: 0;
    border-bottom: 3px solid #02a0d4;
}
.wpeasy-product-content-tab .tab {
  color: #fff;
  font-weight: bold;
}
.wpeasy-product-content-tab .tab:nth-child(1) {
  margin-left: 0 !important;
}
.wpeasy-product-content-tab .tab.select {
  color: #51a6f3;
  background: #ebebeb;
}

.wpeasy-product-content-tab .tab {
    transition: all ease .3s;
    font-family: 'Roboto', sans-serif;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 10px 15px;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}
.wpeasy-product-content-tab .tab-content {
    transition: all ease .3s;
    margin: 0px 0px 20px 0px;
    padding: 15px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}
.wpeasy-product-content-tab .tab-content p {
  font-size: 14px;

  font-family: 'Roboto', sans-serif;
}
.wpeasy-product-content-tab .main p img {
  margin: 10px 0px;
}
.wpeasy-product-content-tab .tab-content h3 {
  color: #ff8400;
  font-size: 16px;
  margin-top: 20px;
}
.wpeasy-product-content-tab .tab-content h4 {
  font-size: 16px;
  color: #333;
}
.wpeasy-product-content-tab .tab-content .line {
  width: 680px;
  border-top: 1px solid #CCC;
  margin: 10px 0px;
}
.wpeasy-product-content-tab .tab-content .icon {
  font-size: 18px;
  background: #02a0d4;
  color: #FFF;
  padding: 7px;
  border-radius: 2px;
}
.wpeasy-product-content-tab .tab-content .content {
  display: none;
  padding: 0;
}

.wpeasy-product-content-tab .tab-content .cf_parameter_technical { clear: both; }

.wpeasy-product-content-tab  {
  background: #ebebeb;
}
.wpeasy-product-content-tab .layout-tab-product {}
.wpeasy-product-content-tab .layout-tab-product .tab-tour {
  display: block;
    overflow: hidden;
    background: #51a6f3;
}
